.App {
  width: 1280px;
  margin: auto; // height: 900px;

  .topDeck {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
}

header {
  margin-top: 35px;
  height: 67px;
}